html{
    margin: 0;
}
body{
    background-color:rgba(0, 0, 0, 1);
    margin: auto;
}
h4{
    font-family: Montserrat;
    color: rgba(58, 37, 151, 1);
    font-weight: 700;
    font-size: 24px;
    margin-left: 50px;
    padding-top: 20px;
    margin-top: 0px;
}
h2{
    color: rgba(0, 122, 151, 1);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    margin-top: 0px;
}
h1{
    color: rgba(3, 2, 7, 1);
    font-weight: 800;
    font-size: 50px;
}
p{
    color: rgba(3, 2, 7, 1);
    font-weight: 400;
    font-size: 16px;
}
img{
    width: 100%;
    height: auto;
}
.main-container{
    display: flex;
}
.container{
        background-color: rgba(255, 255, 255, 1);
        height: auto;
        font-family: Montserrat;
}
.left-container{
    width: 30%;
    margin: 50px;
    margin-top: 0;
}
.right-container{
    margin: 50px;
    width: 70%;
    margin-top: 0;
    padding-left: 50px;
}
section{
    background-color: rgba(255, 255, 255, 1);
}
.education-image{
    margin-bottom: 20px;
}
/* Small devices (mobile) */
@media only screen and (max-width: 575px) {
    section{
        display: block;
        padding: 10px 0;
        margin-bottom: 0;
        height:100%;
    }
    .main-container {
        display: block;
    }
    .left-container, .right-container {
        width: 94%;
        margin: 10px;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
        text-align: left;
    }
    h4 {
        margin-left: 10px;
        text-align: left;
    }
    .right-container {
        margin: 50px 0;
        width: 93%;
        margin-top: 0;
        padding: 0 20px;
    }
}
