html{
    margin: 0;
}
body{
    background-color:rgba(0, 0, 0, 1);
    margin: auto;
}
h1{
    font-family: Montserrat;
    color: rgba(58, 37, 151, 1);
    font-weight: 700;
    font-size: 24px;
    margin-left: 50px;
    padding-top: 20px;
}
.main-container{
    display: flex;
}
.container{
        background-color: rgba(255, 255, 255, 1);
        height: auto;
        font-family: Montserrat;
}
.left-container{
    width: 30%;
    margin: 50px;
    margin-top: 0;
}
.right-container{
    margin: 50px;
    width: 70%;
    margin-top: 0;
}
section{
    background-color: rgba(255, 255, 255, 1);
}
