html{
    margin: 0;
}
body{
    background-color: rgba(206, 226, 238, 1);
    margin: auto;
}
header{
    text-align: right;
    padding: 20px 0;
    display: flex;
}
.logo{
    width: 30%;
}
header .img-logo{
    width: 129px;
    height: auto;
    display: block;
}
nav{
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-container{
    margin: auto 0 auto auto;
    padding: 15px;
    border-radius: 50px;
}
section{
    display: flex;
    background-color:  rgba(134, 154, 168, 1);
}
.container{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 35px;
    height: auto;
    text-align: left;
    font-family: Montserrat;
}
.left-container, .right-container{
    width: 50%;
    margin: 50px;
}
.applications-images{
    width: 100%;
    height: auto;
}
.content{
    padding: 10px;
    font-family: Montserrat;
    color:rgba(58, 37, 151, 1);
}