html{
    margin: 0;
}
body{
    background-color:rgba(0, 0, 0, 1);
    margin: auto;
}
section{
    display: flex;
    background-color:  rgba(134, 154, 168, 1);
}
.second-section{
    margin-bottom: 70px;
}
.container{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 35px;
    height: auto;
    text-align: left;
    font-family: Montserrat;
}
.left-container, .right-container{
    width: 50%;
    margin: 50px;
}
.applications-images{
    width: 100%;
    height: auto;
}
.content{
    padding: 10px;
    font-family: Montserrat;
    color:rgba(58, 37, 151, 1);
}
