footer{
    background-color: rgba(206, 226, 238, 1);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 20px;
}
footer .follow-us{
    font-size: 16px;
    font-weight: 400;
    color: #030207;
    margin: 15px 0;
}
.footer{
    padding: 5px;
    margin-left: 25px;
}
.footer-icons{
    width: 35px;
    height: 35px;
}

/* Extra Small devices (phones) */
@media only screen and (max-width: 576px) {
    footer{
        display: none;
    }
}

/**fade in animation**/
.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/**left in animation**/

.fade-in-left {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInLeft 1s ease-in-out forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/**zoom in animation**/
.zoom-in {
    transition: transform 0.3s ease-in-out;
}

.zoom-in:hover {
    transform: scale(1.2);
}

/* Extra Small devices (phones) */
@media only screen and (max-width: 576px) {
    section{
        text-align: center;
    }
    h1{
        text-align: left;
    }
    p{
        text-align: left;
    }

}
/* Small devices (mobile) */
@media only screen and (max-width: 575px) {
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 768px) {}

/* Medium devices (desktops, laptops) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* Your styles for medium screens go here */
}

/* Large devices (large desktops) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Your styles for large screens go here */
}

/* Extra Large devices (extra-large desktops) */
@media only screen and (min-width: 1200px) {
    /* Your styles for extra-large screens go here */
}
